<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextField_and_TextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>left.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>开关滑块分段.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9803EABF1BE05301005BB6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9803EADD1BE05320005BB6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98446C351BDF5EF800AEA8C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98446C501BDF6D5B00AEA8C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98E5B4571BDF4D950004BF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
